/* 
 Cawlr.css
 version: alpha-1
 twitter: @jiilibr
 website: esenji.com/studio
 */


/* 
 background
 */

/* color */
.cw-bg-muted { background-color: #f8f8f8; }
.cw-bg-dark { background-color: #000; }
.cw-bg-light { background-color: #fff; }
.cw-bg-dark-smooth { background-color: #2d2d2d; }

/* 
 font
 */

/* heading */
h1, .cw-h1 { 
	font-size: 2em; 
	line-height: 1.2;
}
h2, .cw-h2 { 
	font-size: 1.5em;
	line-height: 1.3; 
}
h3, .cw-h3 { 
	font-size: 1.17em;
	line-height: 1.4; 
}
h4, .cw-h4 { 
	font-size: 1.12em;
	line-height: 1.4; 
}
h5, .cw-h5 { 
	font-size: .83em;
	line-height: 1.4; 
}
h6, .cw-h6 { 
	font-size: .75em;
	line-height: 1.4; 
}

/* font size */
.cw-fs-xxs,
.cw-fs-xxs a,
.cw-fs-xxs ul > li > a,
.cw-fs-xxs li > a,
.cw-fs-xxs p,
.cw-fs-xxs button { 
	font-size: 9px; 
	line-height: 1.5; 
}
.cw-fs-xs,
.cw-fs-xs a,
.cw-fs-xs ul > li > a,
.cw-fs-xs li > a,
.cw-fs-xs p,
.cw-fs-xs button { 
	font-size: 10px; 
	line-height: 1.5; 
}
.cw-fs-s,
.cw-fs-s a,
.cw-fs-s ul > li > a,
.cw-fs-s li > a,
.cw-fs-s p,
.cw-fs-s button { 
	font-size: 11px; 
	line-height: 1.5; 
}
.cw-fs-sm,
.cw-fs-sm a,
.cw-fs-sm ul > li > a,
.cw-fs-sm li > a,
.cw-fs-sm p,
.cw-fs-sm button { 
	font-size: 12px; 
	line-height: 1.5; 
}
.cw-fs-m,
.cw-fs-m a,
.cw-fs-m ul > li > a,
.cw-fs-m li > a,
.cw-fs-m p,
.cw-fs-m button { 
	font-size: 14px; 
	line-height: 1.5; 
}
.cw-fs-ml,
.cw-fs-ml a,
.cw-fs-ml ul > li > a,
.cw-fs-ml li > a,
.cw-fs-ml p,
.cw-fs-ml button {
	font-size: 16px; 
	line-height: 1.5; 
}
.cw-fs-l,
.cw-fs-l a,
.cw-fs-l ul > li > a,
.cw-fs-l li > a,
.cw-fs-l p,
.cw-fs-l button {
	font-size: 18px; 
	line-height: 1.5; 
}
.cw-fs-xl,
.cw-fs-xl a,
.cw-fs-xl ul > li > a,
.cw-fs-xl li > a,
.cw-fs-xl p,
.cw-fs-xl button {
	font-size: 22px;
	line-height: 1.5;
}
.cw-fs-xxl,
.cw-fs-xxl a,
.cw-fs-xxl ul > li > a,
.cw-fs-xxl li > a,
.cw-fs-xxl p,
.cw-fs-xxl button {
	font-size: 28px;
	line-height: 1.5;
}

/* font size for button */
.cw-fs-xxs button, .cw-fs-xs button, .cw-fs-s button,
.cw-fs-sm button, .cw-fs-m button, .cw-fs-ml button,
.cw-fs-l button, .cw-fs-xl button, .cw-fs-xxl button {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* font weight */
.cw-fw-light { font-weight: lighter; }
.cw-fw-normal { font-weight: normal; }
.cw-fw-bold { font-weight: bold; }
.cw-fw-strong { font-weight: 800; }

/* letter spacing */
.cw-lts-xxs {
	letter-spacing: 0.1em; 
	padding-left: -0.1em;
}
.cw-lts-xs {
	letter-spacing: 0.2em; 
	padding-left: -0.2em;
}
.cw-lts-s {
	letter-spacing: 0.3em; 
	padding-left: -0.3em;
}
.cw-lts-sm {
	letter-spacing: 0.4em; 
	padding-left: -0.4em;
}
.cw-lts-m {
	letter-spacing: 0.5em; 
	padding-left: -0.5em;
}
.cw-lts-ml {
	letter-spacing: 0.6em; 
	padding-left: -0.6em;
}
.cw-lts-l {
	letter-spacing: 0.7em; 
	padding-left: -0.7em;
}
.cw-lts-xl {
	letter-spacing: 0.8em; 
	padding-left: -0.8em;
}
.cw-lts-xxl {
	letter-spacing: 0.9em; 
	padding-left: -0.9em;
}

/* line height */
.cw-fh-solid { line-height: 1em !important; }
.cw-fh-normal { line-height: 1.2em !important; }
.cw-fh-groove { line-height: 1.5em !important; }
.cw-fh-double { line-height: 2em !important; }

/* font color */
.cw-fc-muted, .cw-fc-muted a, .cw-fc-muted p,
.cw-fc-muted ul > li > a, .cw-fc-muted li > a,
.cw-fc-muted h1, .cw-fc-muted h2, .cw-fc-muted h3,
.cw-fc-muted h4, .cw-fc-muted h5, .cw-fc-muted h6,
.cw-fc-muted button, .cw-fc-muted span {
	color: #f8f8f8;
}
.cw-fc-light, .cw-fc-light a, .cw-fc-light p,
.cw-fc-light ul > li > a, .cw-fc-light li > a,
.cw-fc-light h1, .cw-fc-light h2, .cw-fc-light h3,
.cw-fc-light h4, .cw-fc-light h5, .cw-fc-light h6,
.cw-fc-light button, .cw-fc-light span {
	color: #fff;
}
.cw-fc-dark, .cw-fc-dark a, .cw-fc-dark p,
.cw-fc-dark ul > li > a, .cw-fc-dark li > a,
.cw-fc-dark h1, .cw-fc-dark h2, .cw-fc-dark h3,
.cw-fc-dark h4, .cw-fc-dark h5, .cw-fc-dark h6,
.cw-fc-dark button, .cw-fc-dark span {
	color: #000;
}
.cw-fc-dark-smooth, .cw-fc-dark-smooth a, .cw-fc-dark-smooth p,
.cw-fc-dark-smooth ul > li > a, .cw-fc-dark-smooth li > a,
.cw-fc-dark-smooth h1, .cw-fc-dark-smooth h2, .cw-fc-dark-smooth h3,
.cw-fc-dark-smooth h4, .cw-fc-dark-smooth h5, .cw-fc-dark-smooth h6,
.cw-fc-dark-smooth button, .cw-fc-dark-smooth span {
	color: #2d2d2d;
}

/* text shadow */
.cw-tsd-muted, .cw-tsd-muted a, .cw-tsd-muted p,
.cw-tsd-muted ul > li > a, .cw-tsd-muted li > a,
.cw-tsd-muted h1, .cw-tsd-muted h2, .cw-tsd-muted h3,
.cw-tsd-muted h4, .cw-tsd-muted h5, .cw-tsd-muted h6, 
.cw-tsd-muted span {
	text-shadow: 1px 1px #f8f8f8;
}
.cw-tsd-light, .cw-tsd-light a, .cw-tsd-light p,
.cw-tsd-light ul > li > a, .cw-tsd-light li > a,
.cw-tsd-light h1, .cw-tsd-light h2, .cw-tsd-light h3,
.cw-tsd-light h4, .cw-tsd-light h5, .cw-tsd-light h6,
.cw-tsd-light span {
	text-shadow: 1px 1px #fff;
}
.cw-tsd-dark, .cw-tsd-dark a, .cw-tsd-dark p,
.cw-tsd-dark ul > li > a, .cw-tsd-dark li > a,
.cw-tsd-dark h1, .cw-tsd-dark h2, .cw-tsd-dark h3,
.cw-tsd-dark h4, .cw-tsd-dark h5, .cw-tsd-dark h6,
.cw-tsd-dark span {
	text-shadow: 1px 1px #000;
}
.cw-tsd-dark-smooth, .cw-tsd-dark-smooth a, .cw-tsd-dark-smooth p,
.cw-tsd-dark-smooth ul > li > a, .cw-tsd-dark-smooth li > a,
.cw-tsd-dark-smooth h1, .cw-tsd-dark-smooth h2, .cw-tsd-dark-smooth h3,
.cw-tsd-dark-smooth h4, .cw-tsd-dark-smooth h5, .cw-tsd-dark-smooth h6,
.cw-tsd-dark-smooth span {
	text-shadow: 1px 1px #2d2d2d;
}

/* text indent */
.cw-neat-break,
.cw-neat-break a {
	-ms-word-break: break-all;
     word-break: break-all;

     word-wrap: break-word;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	   	-moz-hyphens: auto;
	    		-ms-hyphens: auto;
	        		hyphens: auto;
}
.cw-neat-solid { text-indent: 30px; }
.cw-neat-groove { text-indent: 40px; }
.cw-neat-ridge { text-indent: 50px; }

/* 
 border 
 */

/* border style */
.cw-border-none { border-style: none; }
.cw-border-hidden { border-style: hidden; }
.cw-border-solid { border-style: solid; }
.cw-border-dotted { border-style: dotted; }
.cw-border-double { border-style: double; }
.cw-border-dashed { border-style: dashed; }
.cw-border-groove { border-style: groove; }
.cw-border-ridge { border-style: ridge; }
.cw-border-inset { border-style: inset; }
.cw-border-outset { border-style: outset; }
.cw-border-initial { border-style: initial; }

/* border width */
.cw-border-xs { border-width: 1px; }
.cw-border-s { border-width: 2px; }
.cw-border-sm { border-width: 3px; }
.cw-border-m { border-width: 4px; }
.cw-border-ml { border-width: 5px; }
.cw-border-l { border-width: 6px; }
.cw-border-xl { border-width: 7px; }
.cw-border-xxl { border-width: 8px; }

/* border color */
.cw-border-muted { border-color: #f8f8f8; }
.cw-border-dark { border-color: #000; }
.cw-border-light { border-color: #fff; }
.cw-border-dark-smooth { border-color: #2d2d2d; }

/* border radius */
.cw-border-rounded { border-radius: 3px; }
.cw-border-rounded-top { 
	border-top-left-radius: 3px;
	border-top-right-radius: 3px; 
}
.cw-border-rounded-bottom {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; 
}
.cw-border-rounded-left {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px; 
}
.cw-border-rounded-right {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
}

/* 
 display
 */

/* display */
.cw-dsp-hidden { display: none !important; }

/* opacity */
.cw-dsp-light { opacity: 0.2 !important; }
.cw-dsp-blur { opacity: 0.5 !important; }
.cw-dsp-smooth { opacity: 0.8 !important; }


